@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0.625rem;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 15;
  background-color: #fff;
  top: 0;
  -webkit-transition: top 0.5s ease 0s;
  -o-transition: top 0.5s ease 0s;
  transition: top 0.5s ease 0s;
}

.header._header-scroll {
  -webkit-transition: top 3s ease 0s;
  -o-transition: top 3s ease 0s;
  transition: top 3s ease 0s;
  top: -200%;
}

.header._header-show {
  top: 0;
  -webkit-transition: top 0.7s ease 0s;
  -o-transition: top 0.7s ease 0s;
  transition: top 0.7s ease 0s;
}

.header__top::after {
  content: "";
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  min-height: 937.5rem;
  min-width: 937.5rem;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-open .header__top::after {
  opacity: 0.6;
  visibility: visible;
}

.header__container {
  position: relative;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header__logo img {
  width: 11.3125rem;
  height: 1.6875rem;
}

.header__search {
  position: absolute;
  right: 1.25rem;
  right: 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  width: 1.25rem;
  height: 1.8125rem;
  padding-bottom: 0;
  padding-left: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header__search:hover {
  width: 15.625rem;
  background-color: #fff;
}

.header__search:hover .search-header__input {
  border: 1px solid #e9e9e9;
}

.header__bottom {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding-top: 1.375rem;
  padding-bottom: 1.25rem;
}

.search-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-header__button {
  position: absolute;
  top: 0.3125rem;
  right: 0;
  height: 20px;
  width: 20px;
  background: url("../img/search-icon.svg") 0 0 no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-header__input {
  position: relative;
  width: 100%;
  max-width: 15.5rem;
  height: 1.6875rem;
  margin-right: 1.5625rem;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #fff;
  top: 0.0625rem;
  outline: none;
}

.search-header__inputinput {
  color: red;
  background-color: red;
}

.menu__logo-box {
  height: 5.125rem;
  min-width: 100%;
  border-bottom: 1px solid #e9e9e9;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.25rem;
  padding-top: 2rem;
}

.menu__logo img {
  width: 11.3125rem;
  height: 1.6875rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item:hover .menu__link {
  color: rgb(156, 156, 156);
}

.menu__item:hover .menu__link_dropdown::after {
  background-color: rgb(156, 156, 156);
}

.menu__item:hover .menu__link_dropdown::before {
  background-color: rgb(156, 156, 156);
}

.menu__item:hover .sub-menu__box-list {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.menu__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link_dropdown {
  padding-right: 1rem;
}

.menu__link_dropdown::after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  height: 1px;
  width: 0.4375rem;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0.59375rem;
  right: 0;
}

.menu__link_dropdown::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  height: 1px;
  width: 0.4375rem;
  background-color: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.59375rem;
  right: 0.26875rem;
}

.sub-menu__box-list {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: -100%;
  z-index: 1;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sub-menu__list {
  margin-top: 2.25rem;
  width: 100%;
  border: 1px solid #e9e9e9;
  padding: 0.75rem 1.125rem 0.75rem 1.25rem;
  min-width: 11.125rem;
  background-color: #fff;
}

.sub-menu__list > :not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}

.sub-menu__item {
  min-width: 8.625rem;
  padding-right: 0rem;
}

.sub-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-transition: padding-left 0.3s ease 0s;
  -o-transition: padding-left 0.3s ease 0s;
  transition: padding-left 0.3s ease 0s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sub-menu__link:hover {
  color: #969696;
  padding-left: 0.5rem;
}

.sub-menu__link-text {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.sub-menu__link-arrow {
  position: relative;
  height: 8px;
  width: 5px;
}

.sub-menu__link-arrow::after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  height: 1px;
  width: 0.34375rem;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0.3375rem;
  right: 0rem;
}

.sub-menu__link-arrow::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  height: 1px;
  width: 0.34375rem;
  background-color: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.125rem;
  right: 0rem;
}

.icon-menu {
  display: none;
}

.page__content {
  padding-top: 3rem;
  padding-bottom: 10.375rem;
}

.content__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.item-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.034483%;
          flex: 0 1 31.034483%;
  /* 360/1160 */
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  /* @media (max-width: em(720)) {
    flex: 1 1 100%;
  } */
}

.item-row__image-ibg {
  overflow: hidden;
  padding-bottom: 63.8888888889%;
  /* @media (max-width: em(720)) {
    padding-bottom: percent(230, 335);
  } */
}

.item-row__image-ibg img {
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.item-row__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.item-row__content > :not(:last-child) {
  margin-bottom: 1rem;
}

.item-row__content-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1;
  color: #eb0028;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-row__content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.25;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-row__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-row__content-info :not(:last-child) {
  position: relative;
  margin-right: 0.8125rem;
}

.item-row__content-info :not(:last-child)::after {
  content: "";
  position: absolute;
  height: 0.1875rem;
  width: 0.1875rem;
  background-color: #d7d7d7;
  top: 0.25rem;
  right: -0.5rem;
}

.item-row__content-name {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1;
}

.item-row__content-date {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1;
  color: #9b9b9b;
}

.item-row__content-views {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1;
  color: #9b9b9b;
}

.item-row__content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #929292;
}

@media (min-width: 61.99875em) {
  .menu__logo-box {
    display: none;
  }

  .menu__list {
    gap: 2rem;
  }
}

@media (min-width: 62em) {
  .page__content {
    padding-top: 3rem;
  }

  .content__rows {
    row-gap: 3rem;
  }
}

@media (min-width: 75em) {
  .header__box {
    height: 5.125rem;
  }

  .header__search {
    top: 1.8125rem;
  }

  .pre-header {
    height: 8.875rem;
  }
}

@media (max-width: 62em) {
  .header__box {
    height: 5.5rem;
  }

  .header__search {
    top: 1.9375rem;
  }
}

@media (max-width: 45em) {
  .content__rows {
    row-gap: 2rem;
  }
}

@media (max-width: 74.9375em) {
  .item-row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 31.034483%;
            flex: 1 1 31.034483%;
  }
}

@media (max-width: 61.99875em) {
  .header__container_bottom {
    padding-right: 0;
    padding-left: 0;
  }

  .header__bottom {
    position: absolute;
    top: -0.125rem;
    left: 0;
    padding-top: 0;
    border-bottom: none;
    height: 100%;
  }

  .menu {
    height: 100%;
  }

  .menu-open .menu .icon-menu {
    right: -18.75rem;
    top: 2.0625rem;
  }

  .menu__body {
    position: fixed;
    z-index: 3;
    width: 20rem;
    height: 100%;
    top: 0;
    left: -20rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #fff;
    border-right: 1px solid #e9e9e9;
  }

  .menu-open .menu__body {
    left: 0;
    overflow: auto;
  }

  .menu-open .menu__body .menu__list {
    opacity: 1;
  }

  .menu__list {
    opacity: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.875rem;
  }

  .menu__list > :not(:last-child) {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 1rem;
  }

  .menu__item {
    padding-left: 0;
    padding-top: 1rem;
  }

  .sub-menu__box-list {
    z-index: 3;
  }

  .sub-menu__link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .sub-menu__link-text {
    font-size: 1rem;
  }

  .icon-menu {
    display: block;
    position: absolute;
    right: -2.875rem;
    top: 2.1875rem;
    width: 1.6875rem;
    height: 1.25rem;
    z-index: 5;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color: #000;
    border-radius: 0.25rem;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(45% - 0.0625rem);
    opacity: 1;
  }

  .menu-open .icon-menu span {
    opacity: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.25rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .pre-header {
    height: 9.25rem;
  }

  .pre-header {
    height: 5.5rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 46.5em) {
  .header__search:hover {
    -webkit-transform: translate(54%, 0px);
        -ms-transform: translate(54%, 0px);
            transform: translate(54%, 0px);
    right: 50%;
    height: 2.4375rem;
    padding-left: 0.625rem;
    margin-right: 0.3125rem;
    width: 16.25rem;
  }
}

@media (max-width: 46.5em) and (max-width: 20em) {
  .header__search:hover {
    top: 3.75rem;
  }
}

@media (max-width: 44.6875em) {
  .item-row {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .item-row__image-ibg {
    padding-bottom: 68.6567164179%;
  }
}

@media (max-width: 26.5625em) {
  .page__content {
    padding-top: 0.375rem;
  }
}

@media (min-width: 62em) and (max-width: 75em) {
@supports (height: clamp( 5.125rem , 7.2884615385rem  +  -2.8846153846vw , 5.5rem )) {
    .header__box {
      height: clamp( 5.125rem , 7.2884615385rem  +  -2.8846153846vw , 5.5rem );
    }
}

@supports not (height: clamp( 5.125rem , 7.2884615385rem  +  -2.8846153846vw , 5.5rem )) {
    .header__box {
      height: calc(5.5rem + -0.375 * (100vw - 62rem) / 13);
    }
}

@supports (top: clamp( 1.8125rem , 2.5336538462rem  +  -0.9615384615vw , 1.9375rem )) {
    .header__search {
      top: clamp( 1.8125rem , 2.5336538462rem  +  -0.9615384615vw , 1.9375rem );
    }
}

@supports not (top: clamp( 1.8125rem , 2.5336538462rem  +  -0.9615384615vw , 1.9375rem )) {
    .header__search {
      top: calc(1.9375rem + -0.125 * (100vw - 62rem) / 13);
    }
}
}

@media (max-width: 46.5em) and (min-width: 46.5em) {
  .header__search:hover {
    top: 4.375rem;
  }
}

@media (max-width: 46.5em) and (min-width: 20em) and (max-width: 46.5em) {
@supports (top: clamp( 3.75rem , 3.2783018868rem  +  2.358490566vw , 4.375rem )) {
    .header__search:hover {
      top: clamp( 3.75rem , 3.2783018868rem  +  2.358490566vw , 4.375rem );
    }
}

@supports not (top: clamp( 3.75rem , 3.2783018868rem  +  2.358490566vw , 4.375rem )) {
    .header__search:hover {
      top: calc(3.75rem + 0.625 * (100vw - 20rem) / 26.5);
    }
}
}

@media (min-width: 61.99875em) and (max-width: 75em) {
@supports (height: clamp( 8.875rem , 11.0382535333rem  +  -2.8843380444vw , 9.25rem )) {
    .pre-header {
      height: clamp( 8.875rem , 11.0382535333rem  +  -2.8843380444vw , 9.25rem );
    }
}

@supports not (height: clamp( 8.875rem , 11.0382535333rem  +  -2.8843380444vw , 9.25rem )) {
    .pre-header {
      height: calc(9.25rem + -0.375 * (100vw - 61.99875rem) / 13.00125);
    }
}
}

@media (min-width: 26.5625em) and (max-width: 62em) {
@supports (padding-top: clamp( 0.375rem , -1.5925925926rem  +  7.4074074074vw , 3rem )) {
    .page__content {
      padding-top: clamp( 0.375rem , -1.5925925926rem  +  7.4074074074vw , 3rem );
    }
}

@supports not (padding-top: clamp( 0.375rem , -1.5925925926rem  +  7.4074074074vw , 3rem )) {
    .page__content {
      padding-top: calc(0.375rem + 2.625 * (100vw - 26.5625rem) / 35.4375);
    }
}
}

@media (min-width: 45em) and (max-width: 62em) {
@supports (row-gap: clamp( 2rem , -0.6470588235rem  +  5.8823529412vw , 3rem )) {
    .content__rows {
      row-gap: clamp( 2rem , -0.6470588235rem  +  5.8823529412vw , 3rem );
    }
}

@supports not (row-gap: clamp( 2rem , -0.6470588235rem  +  5.8823529412vw , 3rem )) {
    .content__rows {
      row-gap: calc(2rem + 1 * (100vw - 45rem) / 17);
    }
}
}

@media (any-hover: hover) {
  .item-row__image-ibg:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-row__content-subtitle:hover {
    color: #ff8196;
  }

  .item-row__content-title:hover {
    color: rgb(156, 156, 156);
  }
}